html,body{

		width: 100%;
		height: 100%;
		margin:0;
		padding:0;
		overflow-x: hidden;
	

	}

header{
	background-color: gray;
height: 10rem;
margin-top: none;
}

header h1{
	padding-left: 10rem;
	padding-top: 5rem;
	color: white;
	font-size: 3rem;
}


	
	nav{

		font-size: 30px;
		margin-left: 70rem;
		margin-top: -4rem;
		display: flex;
		justify-content: flex-end;
		justify-content: space-evenly;
		
	
		

	}

	a{
		text-decoration: none;
		color: white;
	}


.section1{

	background-color: orange;

	height: 40rem;
	padding: 0;
	margin-top: -2rem;
}

.section1 h1,h2{

	text-align: center;
	font-size: 3rem;
	padding-top: 4rem;
	background: none;
	color: white;


}

.section1 h1{

	font-size: 5rem;

}

.section1 h2{

	padding-top: -10rem;
}


.about{

	width: 60rem;
	text-align: left;
	margin-left: 30rem;

}
.about h1{

	text-align: center;
	font-family: verdana;
}

.section2{

margin-top: 6rem;

}

.section3 h1{

text-align: center;

}

.section3{
margin-top: 4rem;
margin-left: 1rem;

}


.block1{

	display: flex;
	margin-left: 10rem;
	width: 90rem;
}

#rice{
	margin-left: 20rem;
}

.block2{
width: 90rem;
	display: flex;
	margin-left: 10rem;

}
#contacts{
	margin-left: 20rem;
}


footer{

	background-color: orange;
	
	width: 100%;
		height: 4rem;
		margin:0;
		padding:0;
		overflow-x: hidden;
		text-align: center;
}
